@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --ct-bg-color-primary: #3C9AF0;
  --ct-bg-color-secondary: #C8C8C8;

  --ct-font-color-primary: #fff;
  --ct-font-color-secondary: #5E5E5E;
}

a {
  text-decoration: none;
}
.ct-container-botton{
  max-width: 960px;
  width: 100%;
}
