.sec-catalog{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.cards-catalog{
    max-width: 746px;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--ct-font-color-secondary);
    flex-direction: column;
}
.cards-catalog h2{
    font-size: 32px;
}
@media (max-width: 320px){
    .cards-catalog h2{
        font-size: 20px;
    }
    .cards-catalog{
        margin: 25px 30px 0 30px;
    }
}